body{
    background-color: aliceblue;
    background-image: url("./images/wallp.jpeg");
}
.box {
    max-width: 1250px;
    margin: 50px auto;
    display: grid;
    gap: 5px;
    grid-template-columns:200px auto 200px;
    padding: 30px;
footer, main, nav, picture, timedate, header, logo {
    background-image: url("./images/tex_wallp.jpeg");
    border: 3px solid black;
    color: auto; /*font colour*/
    font-size: 17px;

    padding: 7px;
}
logo{
    grid-row:1/2;
    grid-column:1/2;
    text-align: center;
}
header{
    grid-row:1/2;
    grid-column:2/3;
    text-align: center;

}
timedate {
    grid-row:1/2;
    grid-column:3/4;
}
picture {
    grid-row:2/3;
    grid-column:3/4;
    height:max-content;
}
nav {
    grid-row:2/3;
    grid-column:1/2;
}
main {
    grid-row:2/3;
    grid-column:2/3;
}
footer {
    grid-row:3/4;
    grid-column:1/4;
    text-align: center;
}
